<div class="login-container">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <button type="submit" [disabled]="Logindisable">Login</button>
  </form>

  <p *ngIf="errormessage" class="error" style="color: red;">{{ errormessage }}</p>

  
  <!-- Sign Up Link -->
  <p>
    Don't have an account? 
    <a [routerLink]="['/signup']">Sign up here</a>
</p>

